.DS_Store
day1/__pycache__ 
day2/__pycache__
day3/__pycache__
day4/__pycache__
day5/__pycache__
.ipynb_checkpoints
day1/.ipynb_checkpoints
day2/.ipynb_checkpoints
day3/.ipynb_checkpoints
day4/.ipynb_checkpoints
day5/.ipynb_checkpoints
